< !-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/start"><img alt="?? ???????" src="/images/logo.png?1338876515" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
        
	    <% if current_user.is_teacher=="1"%>
            <li <%=controller.action_name=='user_control'?'class="active"':'' %> > <a href="/user_control">Управление пользователями</a></li>
            <li <%=controller.action_name=='bd_control'?'class="active"':'' %> > <a href="/bd_control">Управление базами данных</a></li>
         
        <% end%>
	<li <%=controller.action_name=='text'?'class="active"':'' %> ><a href="/text" >Обращение к базе </a></td>
	<li <%=controller.action_name=='shell'?'class="active"':'' %> ><a href="/shell">Shell </a></li>
	<li <%=controller.action_name=='a_search'?'class="active"':'' %> ><a href="/a_search">Поиск </a></li>
	<li <%=controller.action_name=='a_regist'?'class="active"':'' %> ><a href="/a_search">Единичная регистрация </a></li>
	<li <%=controller.action_name=='a_mn_regist'?'class="active"':'' %> ><a href="/a_search">Множественная регистрация </a></li>
	
            <li class="dropdown">
	   
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Здравствуйте, <%= current_user.email %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>		
	    
		<li><%= link_to 'Войти', new_user_session_path %></li> или 
		<li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
	
              
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  

<div id='wrap'>
<div id='topbar'>
<br><h3>Программный комплекс для выполнения лабораторных работ по дисциплине "Базы Данных". МГИУ.
</h3></div>
