<head>
<%= render "header" %>
  <style>
  td{
	margin:10px
	padding-left: 5px; 
	padding-right: 10px; 
   }
  </style>
</head>
<body id='type-c'>
	<%= render "logo" %>
	<br>
	<%=@a.inspect%>
	
	<br>
	<h1>Поиск пользователя</h1>
	<%= form_tag(:name => :search) do %>
	<table>
	
			<td>Логин </td><td><%=text_field_tag('search[login]', @text["login"])%></td>
			</tr>
			<tr>
			<td><br>Фамилия</td><td><br><%=text_field_tag('search[surname]', @text["surname"])%></td>
			</tr>
			<tr>
			<td><br>Имя</td><td><br><%=text_field_tag('search[name]', @text["name"])%></td>
			</tr>
			<tr>
			<td><br>Отчество</td><td><br><%=text_field_tag('search[last_name]', @text["last_name"])%></td>
			</tr>
			<tr><td><br><%=submit_tag("Поиск")%></td></tr>
	
	</table>
	<%end%>
	<br>
	<%if !params["search"].nil?%>
		<br>
		<%if @login==[]%>
		ничего не найдено
		<%else%>
		<table>
			<tr>
				<td>
					Login
				</td>
				<td>
					Имя
				</td>
				<td>
					Фамилия
				</td>
				<td>
					Отчество
				</td>
				<td>
					Доступ
				</td>
				<td>
					Пароль
				</td>
			</tr>
				<% @login.each do |u|%>
				<tr>
					<td>
					<%=u.email%>
					</td>
					<td>
					<%=u.name%>
					</td>
					<td>
					<%=u.surname%>
					</td>
					<td>
					<%=u.last_name%>
					</td>
					<td>
					<%= form_for :search do |f| %>
					<input type="hidden" id="email" name="search[email]" value="<%=u.email%>" />
					<input type="hidden" id="login" name="search[login]" value="<%=params["search"]["login"]%>" />
					<input type="hidden" id="name" name="search[name]" value="<%=params["search"]["name"]%>" />
					<input type="hidden" id="surname" name="search[surname]" value="<%=params["search"]["surname"]%>" />
					<input type="hidden" id="last_name" name="search[last_name]" value="<%=params["search"]["last_name"]%>" />
					<%= check_box_tag('search[is_student]', 1, (u.is_student.to_i == 1), {})%> Студент
					<br><%= check_box_tag('search[is_teacher]', 1, (u.is_teacher.to_i == 1), {})%> Преподаватель
					<br><%= check_box_tag('search[is_admin]', 1, (u.is_admin.to_i == 1), {})%> Администратор
					<br><%=f.button("Изменить")%>
					<%end%>
					</td>
					<td>
					<%= form_for :search do |f| %>
					<%=f.text_field(:encrypted_password)%>
					<input type="hidden" id="email" name="search[email]" value="<%=u.email%>" />
					<input type="hidden" id="login" name="search[login]" value="<%=params["search"]["login"]%>" />
					<input type="hidden" id="name" name="search[name]" value="<%=params["search"]["name"]%>" />
					<input type="hidden" id="surname" name="search[surname]" value="<%=params["search"]["surname"]%>" />
					<input type="hidden" id="last_name" name="search[last_name]" value="<%=params["search"]["last_name"]%>" />
					
					<%=f.button("Изменить пароль")%>
					<%end%>

					<%= form_for :search do |f| %>
					<input type="hidden" id="email" name="search[email]" value="<%=u.email%>" />
					<input type="hidden" id="login" name="search[login]" value="<%=params["search"]["login"]%>" />
					<input type="hidden" id="name" name="search[name]" value="<%=params["search"]["name"]%>" />
					<input type="hidden" id="surname" name="search[surname]" value="<%=params["search"]["surname"]%>" />
					<input type="hidden" id="last_name" name="search[last_name]" value="<%=params["search"]["last_name"]%>" />
					<%=f.hidden_field(:delete)%>
					<%=f.button("Удалить")%>
					
					<%end%>
					
					</td>
					
				</tr>
				<%end%>
		
		</table>
		<%end%>
	<%end%>
	
	
</body>
